@import "/resources/scss/partials/variables";
.aside {
    width: 200px;
    height: calc(100vh - 65px);
    position: fixed;
    z-index: 998;
    top: 65px;

    background-color: $third-color;

    .my-link {
        color: $primary-color;
        transition: all 1s;
        &:hover {
            margin-left: 30px;
        }
    }
}
