@import "/resources/scss/partials/variables";
.aside {
    width: 200px;
    height: calc(100vh - 65px);
    position: fixed;
    z-index: 998;
    top: 65px;

    background-color: $third-color;

    .my-link {
        color: $primary-color;
        transition: all 1s;
        &:hover {
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 769px) {
    .aside {
        width: 80px;
        height: calc(100vh - 58px);
        top: 58px;
        font-size: 1.2em;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            i {
                text-align: center;
            }
        }
        .my-link {
            color: $primary-color;
            cursor: pointer;
            &:hover {
                margin-left: 0;
            }
        }
    }
}
